{% extends "account/base.html" %}
{% load socialaccount %}
{% load static %}
{% block content %}
<div class="other-container">
    <h1>Sign In</h1>
    {% if not SOCIALACCOUNT_ONLY %}
        {% url 'account_login' as login_url %}
        <form action="{% url 'account_login' %}" method="post" id="login-form">
            {%csrf_token%}
            <div class="login-each-tag">
                <label for="login">Email</label>
                {{form.login}}
            </div>
            <div class="login-each-tag">
                <label for="password">Password</label>
                {{form.password}}
            </div>
            <button type="submit">Sign In</button>
            <p>If you have not created an account yet, then please <a href="{% url 'account_signup' %}">sign up</a> first.</p>

        </form>
    {% endif %}
    {% if LOGIN_BY_CODE_ENABLED %}
        <h1>WITH CODE ENABLED</h1>
    {% endif %}
    <div class="google-provider">
        Continue with
        <form action="/accounts/google/login/ " method="POST" style="background-color:transparent;
        box-shadow: none; padding: 0; width: auto">
            {% csrf_token %}
            <button type="submit" style="margin-left: 0%;width: 100px; background-color: white">Google</button>
        </form>
        <form action="/accounts/github/login/ " method="POST" style="background-color:transparent;
        box-shadow: none; padding: 0; width: auto">
            {% csrf_token %}
            <button type="submit" style="margin-left: 0%;width: 100px; background-color: white">Github</button>
        </form>
    </div>
</div>
{% endblock content %}