{% extends "account/base.html" %}
{% load static %}
{% load socialaccount %}
{% block content %}
<div class="other-container">
    <h1>Sign Up</h1>
    {% if not SOCIALACCOUNT_ONLY %}
        <form action="{% url 'account_signup' %}" method="post" id="register-form">
            {%csrf_token%}
            <div class="login-each-tag">
                <label for="email">Email</label>
                {{form.email}}
            </div>
            <div class="login-each-tag">
                <label for="password1">Enter password</label>
                {{form.password1}}
            </div>
            <div class="login-each-tag">
                <label for="password2">Enter password again</label>
                {{form.password2}}
            </div>
            
            <button type="submit">Sign In</button>
             <p>Already have an account? Then please <a href="{%url 'account_login' %}">sign in</a>.
        </form>
    {% endif %}
   {% if SOCIALACCOUNT_ENABLED %}
        <div class="google-provider">
            Continue with
            <form action="/accounts/google/login/ " method="POST" style="background-color:transparent;
            box-shadow: none; padding: 0; width: auto">
                {% csrf_token %}
                <button type="submit" style="margin-left: 0%;width: 100px; background-color: white">Google</button>
            </form>
            <form action="/accounts/github/login/ " method="POST" style="background-color:transparent;
            box-shadow: none; padding: 0; width: auto">
                {% csrf_token %}
                <button type="submit" style="margin-left: 0%;width: 100px; background-color: white">Github</button>
            </form>
    </div>
    {% endif %}
</div>
{% endblock content %}
