{% extends "product/base.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block content %}
        {% if messages %}
            {% for msg in messages %}
                {% if msg.tags == 'error' %}
                    <p style="background-color: red; color: white">{{msg}}</p>
                {% else %}
                <p style="color: blue">{{msg}}</p>
                {% endif %}
            {% endfor %}
        {% endif %}
        <form action="{% url 'product:add_product' %}" method="POST" enctype="multipart/form-data">
            {%  csrf_token %}
            <div class="each-tag">
                <label for="id_name">Product Name</label>
                {{form.name}}
            </div>
             <div class="each-tag">
                <label for="id_type">Product Type</label>
                {{form.type}}
             </div>
            <div class="each-tag">
                <label for="id_category">Product Category</label>
                {{form.category}}
            </div>
             <div class="each-tag">
                <label for="id_price">Product Price</label>
                {{form.price}}
             </div>
            <div class="each-tag">
                <label for="id_image">Product Image</label>
                {{form.image}}
            </div>
            <input type="submit" value="Upload">
        </form>
    {% endblock %}
</body>
</html>