{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    {% if title %}
        {{title}}
    {% else %}
        <title>Ecommerce - Oauth</title>
    {% endif %}
</head>
<body>
    <nav>
        <div class="left-nav">
            <a href="{% url 'product:home' %}">Home</a>
        </div>
        <div class="right-nav">
            {% if user.is_authenticated %}
                <small>{{user.email}} </small>
                <form method="POST" action="{% url 'account_logout' %}">
                    {%  csrf_token %}
                    <input type="submit" value="Logout">
                </form>
                {% if user.is_superuser %}
                    <a href="{% url 'product:add_product' %}">New Product</a>
                {% endif %}
                <a href="{% url 'product:orders' %}"></a>
            {% else %}
                <a href="{% url 'account_login' %}">Login</a>
            {% endif %}
            {% if not user.is_superuser %}
                <a href="{% url 'product:view_cart' %}">Cart</a>
            {% endif %}
        </div>
    </nav>
    {% block content %}
    
    {% endblock %}
</body>
</html>