{% extends "product/base.html" %}
{% block content %}
    <div class="other-container">
        {% if messages %}
            {% for msg in messages %}
                {% if msg.tags == 'error' %}
                    <p style="background-color: red; color: white">{{msg}}</p>
                {% else %}
                <p style="color: blue">{{msg}}</p>
                {% endif %}
            {% endfor %}
        {% endif %}
        <div class="cart">
            <h1>MY CART</h1>
            {% for item in cart %}
                <div class="cart-items">
                    {% for k, v in item.items %}
                        <div class="cart-item">
                            <h3>{{k}}: {{v}}</h3>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
        <small>Go to <a href="{% url 'product:checkout' %}">checkout </a>page</small>
    </div>
{% endblock %}