@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(106deg, #e0eafc,#cfdef3);;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.other-container{
    background-color: aliceblue;
    padding: 20px;
    margin-top: 40px;
    border-radius: 5px;
}
#login-form, #register-form{
    width: 350px;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0px 2px #000;
    color: black;
}
.login-each-tag, .each-tag{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.login-each-tag input{
    padding: 5px;
    width: 70%;
    color: grey;
}
.each-tag input{
    padding: 5px;
    width: 50%;
    color: grey;
}
.each-tag select{
    padding: 5px;
    width: 30%px;
    color: grey;
}
#login-form button{
    width: 40%;
    margin-left: 60%;
    background-color: aliceblue;
    font-weight: 700;
    font-size: 16px;
}
.google-provider{
    width: 100px;
    margin-top: 10px;
    margin-left: 50%;
    transform: translateX(-50%);
}
.google-provider a{
    display: flex;
    width: 100%;
    height: 100%;
    background-color: white;
    justify-content: center;
    border-radius: 5px;
    padding: 5px 20px;
}
.google-provider img{
    width: 100%;
    object-fit: cover;
}
.google-provider a:hover{
    background-color: black;
}
button{
    outline: none;
    border: none;
    padding: 7px 10px;
    margin-top: 20px;
    cursor: pointer;

}

.container{
    width: 90%;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 5px;
}
nav{
    display: flex;
    width: 100%;
    padding: 10px;
    justify-content: space-around;
    background-color: rgb(10, 170, 239);
}
nav a{
    color: white;
    text-decoration: none;
}
nav a:hover{
    opacity: .8;
}
nav input{
    border: none;
    outline: none;
    background-color: transparent;
}
.right-nav *{
    margin-right: 10px;
}
.container .product{
    width: 27%;
    height: 400px;
    margin: 2px;
    cursor: pointer;
    transition: 1s all;
}

.container .product img{
    object-fit: cover;
    width: 100%;
    height: 80%;
}

.product .desc{
    height: 20%;
}

.product .desc a{
    background-color: lightgrey;
    width: 100%;
    display: block;
    padding: 5px 10px;
    text-decoration:  none;
    color: black;
    font-weight: 800;
    text-align: center;
}
.product .desc a:hover{
    color: orange;
    background-color: black;
}
.product:hover{
    width: 30%;
}

h1{
    text-align: center;
    margin: 10px 0;
    color: white;
}

.border-bottom{
    margin: 2px 0;
    height: 1px;
    width: 100%;
    background-color: lightskyblue;
}

.cart{
    background-color: rgb(10, 170, 239);
    color: white;
    padding: 20px;
    height: 300px auto;
    width: 350px;
    margin-top: 20px;
}

.cart-items{
    margin-top: 5px;
    background-color: rgb(5, 201, 5);
    color: white;
    padding: 5px 20px;
    text-transform: capitalize;
}
.cart-item:last-child{
    color: black;
    font-size: 8px;
}
.cart-item:nth-child(2){
    font-size: 12px;
}